<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:tiles="http://www.thymeleaf.org">
<head th:inline="text">
<meta charset="utf-8" />
</head>
<body>

	Nur das HTML des nächsten divs wird ins layout eingesetzt.

	<div tiles:fragment="content">
	
		<p>Here we go!!<span th:utext="${wro4j.css('landingpage')}">WRO TEXT...</span></p>
	
		<div class="red">
			ROT IST COOL.
		</div>
		
		<div class="blue">
			BLAU ist HOT
		</div>
		
		<script th:inline="javascript">
			var files = /*[[${wro4j.css('landingpage')}]]*/ [];
		</script>
		
	</div>

</body>
</html>